#navbar,
#navigation {
	transition: all 0.5s ease;
}

.bg-image {
	background-color: #000a67;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&.bg-servers {
		background-image: url('../media/servers.webp');
	}
	&.bg-tower {
		background-image: url('../media/tower.webp');
	}
}

.bg-blue {
	background-color: #060235;
	&.blue-transparency {
		background-color: rgba(6, 2, 53, 0.3);
	}
}

@include media-breakpoint-down(md) {
	.bg-image {
		&.bg-tower {
			background-image: none;
		}
		&.bg-servers {
			background-image: none;
		}
	}
}
